# dependencies
node_modules/

# environment variables
.env

# Next.js
.next/

# logs
*.log

# uploads and images
uploads/
profile_picture/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# build
dist/
build/